body {
    color: black;
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 960px;
}

@media (min-width: 40.0rem) { 
    .container {
        width:85%;
        /* padding: 0 */
        padding-left: 4em;
        padding-right: 4em;
    }
}

@media (min-width: 80.0rem) { 
    .container {
        width: 80%;
    }

    .column,.columns {
        margin-left: 4%;
    }

    .column:first-child,.columns:first-child {
        margin-left: 0;
    }
}


.list-no-space {
    margin-bottom: 0;
}

.list-no-space li {
    margin-bottom: 0;
}

.list-no-points {
    list-style-type: none;
}

.card-row {
    display: flex;
    overflow-x: scroll;
    perspective: 1000px;
    margin-bottom: 2em;
}

.card-container {
    display: flex;
    flex: 0 0 24em;
}

body:not(.mobile) .card-container:hover .card {
    transform: rotateY(180deg);
}

.card-container.hover .card {
    transform: rotateY(180deg);
}

.card {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    /* background-color: lightgrey; */

    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 1s;
    transform-style: preserve-3d;

    position: relative;
}

.card::before {
    content: "\f2f1"; /* sync-alt */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;

    backface-visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.3;
}

.card-background {
    content: "";
    background: #ffffff var(--cardBackground) no-repeat center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.card-front, .card-back {
    backface-visibility: hidden;
}

.card-front {
    padding: 10px;
    position: absolute;

    z-index: 2;
    /* For firefox 31 */
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.fa-star {
    color: #FFD700;
    text-shadow: 0 0 3px #000;
    padding-right: 5px;
}

.star-list {
    text-align: left;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

body:not(.mobile) .footer-bottom {
    padding-bottom: 5em;
}

.konami-green {
    color: green;
}

#touch-area {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 20em;
}

#touch-area::before {
    content: '\f25a'; /* hand-pointer */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3em;

    opacity: 0.3;
}

.white-background {
    background-color: white;
}

.fixed-background {
    padding: 8px 0;
    box-shadow:
        inset 0px 25px 8px -18px white,
        inset 0px -25px 8px -10px white;
}

.top {
    box-shadow:
        inset 0px -25px 8px -10px white;
}

.top {
    clip: rect(0px, auto, 800px, auto);
}

.bottom {
    clip: rect(1000px, auto, auto, auto);
}

.top, .bottom {
    background: var(--background) no-repeat center center;
    /* background-attachment: fixed; */
    background-size: cover;
    filter: blur(5px);
    opacity: 0.2;

    /* position: absolute;
    width: 100%;
    height: 98%; */

    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}